---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='NetaDAO | Blog'
  description='NetaDAO Blog | On this page you can find a collection of blogposts related to NetaDAO'
  pageTitle='NetaDAO Blog'
>
  <main class='bg-#9F9A9E dark:bg-gradient-to-b from-cyan-950 to-#B4DE53 dark:rounded-10 border-b-4 border-1 border-black p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>
