@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Serif Text";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/dm-serif.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/outfit.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/poppins.ttf") format("truetype");
}

@font-face {
  font-family: "Righteous";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/righteous.ttf") format("truetype");
}

@font-face {
  font-family: "Sanchez";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/sanchez.ttf") format("truetype");
}

.outfit {
  font-family: 'Outfit', sans-serif;
}
.righteous {
  font-family: 'Righteous', sans-serif;
}
.dm-serif {
  font-family: 'DM Serif Text', serif;
}
.fredoka {
  font-family: 'Fredoka One', sans-serif;
}
.poppins {
  font-family: 'Poppins', sans-serif;
}
.sanchez {
  font-family: 'Sanchez', serif;
}
.card-shadow {
  filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
  transition: all;
  transition-duration: 0.3s;
  animation: ease-in-out;
}
.card-shadow:hover {
  filter: drop-shadow(3px 3px 0 rgb(0 0 0 / 1));
}

body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #0d1117;
  --sb-size: 0.5em;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);  
  }

html {
  scroll-behavior: smooth;
}

html.dark {
  background-image: linear-gradient(180deg, #1c182A, #08253A);
  }

:root {
  --color-bg: #f2f2f2;
  --color-text: #444444;
  --bold-text: #222;
  --nav-text: #000000;
  --code: #f2f2f2;
  --block-quote-border: #999;
  --block-quote-text: #222;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #8758ff;
}

[data-theme="light"] {
  --color-bg: #f2f2f2;
  --color-text: #444444;
  --bold-text: #222;
  --nav-text: #000000;
  --code: #f2f2f2;
  --block-quote-border: #999;
  --block-quote-text: #222;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #8758ff;
}

[data-theme="dark"] {
  --color-bg: #000;
  --color-text: #dddddd;
  --bold-text: #eeeeee;
  --nav-text: #dddddd;
  --code: #f2f2f2;
  --block-quote-border: #8e32dc;
  --block-quote-text: #dddddd;
}
/* TOGGLE  */
.theme-switch-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--slider-bg);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  background-color: var(--slider-bg-before);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--slider-input-bg);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider svg {
  color: #222;
  position: absolute;
  transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
  pointer-events: none;
}

.feather-moon {
  opacity: 0;
  left: 9px;
  bottom: 9px;
  transform: translateX(4px);
}

.feather-sun {
  opacity: 1;
  right: 10px;
  bottom: 9px;
  transform: translateX(0px);
}

input:checked + .slider .feather-moon {
  opacity: 1;
  transform: translateX(0);
}

input:checked + .slider .feather-sun {
  opacity: 0;
  transform: translateX(-4px);
}
