---
---

<footer class='border-b-4 border-1 dark:rounded-t-10 border-black bg-gradient-to-b from-#282628 to-black flex justify-center gap-1 text-white p-6'>
  <h2 class='hidden'>Footer</h2>
   <p class='poppins'>
    Copyright © Neta DAO | Powered by 
   </p>
   <a href='https://akash.network/' title='Akash Netwrok' class='flex Justify-normal gap-1 items-center'>
    <img src="/akashd.svg" width="80px" height="16px" />
   </a>
</footer>

