---
interface Props {
  content: any;
}

const { content } = Astro.props;
---

<article class='prose-stone text-dark-100 dark:prose-invert dark:text-light-200 w-sm md:w-prose md:prose poppins'>
  <slot />
  <p class='text-red-500 dark:text-fuchsia-400'>Written by {content.author}</p>
  <a href='/academy/' title='Back to academy'>&larr; Back to academy</a>
</article>
