name: ci

on:
  push:
    branches:
      - 'master'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      -
        name: Generate tag with date and time
        id: tag_date_time
        run: echo "::set-output name=tag::$(date +'%Y%m%d-%H%M%S')"
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: chaitanyarai/nestastro:${{ steps.tag_date_time.outputs.tag }}
      -
        name: Print full image name with tag
        run: echo "Full image name: chaitanyarai/nestastro:${{ steps.tag_date_time.outputs.tag }}"
